@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

* {
  font-family: "Lexend Deca";
  font-style: normal;
}

a {
  text-decoration: none;
}

input {
  padding-left: 5px;
}

.main {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}
